/* Increased margin between breadcrumbs and page content */
.content {
    margin-top: 2em !important;
}

/* Invisible table borders */
.features {
    table, th, td {
        border: transparent solid 1px;
    }

    th, td {
        padding: 4px !important; 

        .hextra-icon {
            font-size: 24px;
            margin-right: 10px;
        }
    }
}


.commands {
    table {
        padding: 8px;
        display: table;
        border-collapse: separate;
        border: 1px solid var(--hx-color-neutral-800);
        border-radius: 12px;
        border-spacing: 0;

        th {
            border-bottom: 1px solid var(--hx-color-neutral-800);
        }

        tr:not(:last-child) td {
            border-bottom: 1px solid var(--hx-color-neutral-800);
        }

        th:not(:last-child), td:not(:last-child) {
            border-right: 1px solid var(--hx-color-neutral-800)
        }
    }
}



.no-decoration > ul {
    list-style-type: none !important;
    font-size: 24px !important;
}

/* No underline on urls */
a {
    text-decoration: none !important;
}

/* No italic text on code block comments */
span.c1 {
    font-style: normal !important;
}

section.reference {
    h4 + p:has(a) {
        margin-top: 0 !important;
    }
}